<mat-toolbar >
    <button mat-flat-button color="primary" (click)="Opcion('altaAuto')">Alta de auto</button>
    <span style="width: 1%;"> </span>
    <button mat-flat-button color="primary" (click)="Opcion('listadoAutos')">Listado de autos</button>
    <span style="width: 1%;"> </span>
    <button mat-flat-button color="primary" (click)="Opcion('eliminarAuto')">Eliminar Auto</button>
    <span style="width: 1%;"> </span>
    <button mat-flat-button color="primary" (click)="Opcion('modificarAuto')">Modificar auto</button>
    <span style="width: 1%;"> </span>
    <!--<app-email></app-email>-->
    <button mat-flat-button color="primary" (click)="Opcion('login')"><span class="material-icons">
        exit_to_app
        </span></button>
</mat-toolbar>